//-----------------------------------------//
//--------- color Variables----------------//
//-----------------------------------------//

$color-primary: #58e1c1;
$color-ft: #fff;
$color-fp: #777;
$color-bd: #ccc;
$color-link: #51ddfc;






//-----------------------------------------//
//--------- Media Queries----------------//
//-----------------------------------------//

$brk-nerrow: '(min-width: 768px)';
