
/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
    margin-top: 15px;
    width: 100%;
    color:$color-ft;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
    
    @media #{$brk-nerrow} {
      padding: 10px 30px;
    }
  }
  
  .default {
    background-color: $color-link;

    &:hover {
      background-color: rgba($color-link, .85) ;
    }
  }
  
  .error {
    background-color: #e4757a;
    &:hover {
      background-color: rgba(228,117,122, .85) ;
    }
  }
  
  .info {
    background-color: #927bc1;
    &:hover {
      background-color: rgba(146,123,193, .85) ;
    }
  }
  
  .success {
    background-color: #63cc82;
    &:hover {
      background-color: rgba(99,204,130, .85) ;
    }
  }
  
  .warning {
    background-color: #fd7856;
    &:hover {
      background-color: rgba(253,120,86, .85) ;
    }
  }
  
  